[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/iniparser"]
	path = external/iniparser
	url = https://gitlab.com/iniparser/iniparser
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
